body {
    width: 1350px;
    margin: 0;
}

header {
    display: flex;
    background-image: url(fon.jpg);
    background-repeat: no-repeat;
}

.index-text {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-family: ErasLightC;
    background-color: white;
}

.opportunities, .company, .how {
    width: 30%;
    padding-top: 40px;
}


.link {
    text-decoration: none;
    color: purple;
}

.logo {
    width: 30%;
    padding: 10px;
    margin: 10px;
}

.blok_head {
    width: 60%;
    display: flex;
    text-align: center;
    font-size: 20px;
    font-family: ErasDemiC;
    padding-top: 20px;
}

.info {
    text-align: center;
    font-family: ErasLightC;
    padding-left: 19%;
    padding-right: 19%;
}

.item-info {
    padding: 10px 0px 20px 0px;
}

.leftimg{
    float: left;
    margin: 7px 7px 7px 0;
}

.rightimg {
    float: right;
    margin: 7px 0 7px 7px;
}

.item_head {
    width: 50%;
    font-size: 24px;
    margin: 20px; 
    padding: 20px;
    margin-bottom: 30px;
    
}

.flowers {
    background-image: url(fon1.jpg);
    display: flex; 
    justify-content: space-between;
    padding: 10px; 
}
main {
    background-color: wheat;
    display: flex; 
    justify-content: space-between;
}

.categorii {
    overflow: visible;
    margin: 5px; 
    padding: 5px;
    font-size: 18px;
    font-family: ErasLightC;
    position: fixed;
    top: 150px;
    width: 200px;
}

.categori {
    overflow: visible;
    margin: 5px; 
    padding: 5px;
    font-size: 18px;
    font-family: ErasLightC;
}

.product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 25%;
    margin-right: 10%;
}

.blok {
    width: 35%;
    margin: 10px; 
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    font-family: ErasDemiC;
}
.comment {
    width: 35%;
    text-align: center;
    font-size: 18px;
    font-family: ErasDemiC;
}

footer {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-image: url(fon.jpg);
}

.all {
    flex-wrap: wrap;
    flex-direction: column;
}

.podrobno {
    display: flex;
    flex-wrap: wrap;
    margin: 10px; 
    padding: 10px;
}

.info-contact {
    display: flex;
    text-align: center;
    height: 275px;
    margin: 200px auto auto auto;
}